<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- ############################################################################################################### -->
<!-- Page settings and formatting information -->
<head>
    <!-- ########################################################################################################### -->
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- ########################################################################################################### -->
    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- ########################################################################################################### -->
    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- ########################################################################################################### -->
    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- ########################################################################################################### -->
    <!-- Vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- ########################################################################################################### -->
    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all">

</head>

<!-- ############################################################################################################### -->
<!--  Page content  -->
<body class="animsition">
<div class="page-wrapper">

    <!-- ########################################################################################################### -->
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">

        <!-- ####################################################################################################### -->
        <!-- Sidebar logo -->
        <div class="logo">
            <a href="#">
                <img src="/images/icon/admiral.png" alt="Cool Admin" />
            </a>
        </div>

        <!-- ####################################################################################################### -->
        <!-- Sidebar content -->
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">

                    <!-- ########################################################################################### -->
                    <!-- Link to the Time Sheet dashboard -->
                    <li class="active">
                        <a href="/timesheetDashboard">
                            <i class="fas fa-table"></i>Dashboard</a>
                    </li>

                    <!-- ########################################################################################### -->
                    <!-- Link to the managers dashboard -->
                    <li class="active">
                        <a href="/ManagerDash">
                            <i class="fas fa-table"></i>Managers</a>
                    </li>

                    <!-- ########################################################################################### -->
                    <!-- Link to the contractor dashboard -->
                    <li class="active">
                        <a href="/ContractorDash/All">
                            <i class="fas fa-table"></i>Contractors</a>
                    </li>

                    <!-- ########################################################################################### -->
                    <!-- Sub navigation drop down -->
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-copy"></i>Pages</a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">

                            <!-- ################################################################################### -->
                            <!-- Sub nav link to login page -->
                            <li>
                                <a href="/login">Login</a>
                            </li>

                            <!-- ################################################################################### -->
                            <!-- Sub nav link to register page -->
                            <li>
                                <a href="/register">Register</a>
                            </li>

                            <!-- ################################################################################### -->
                            <!-- Sub nav link to forget password page -->
                            <li>
                                <a href="/forget-pass">Forget Password</a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- ########################################################################################################### -->
    <!-- PAGE CONTAINER-->
    <div class="page-container1">
        <!-- ####################################################################################################### -->
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">

                        <!-- ####################################################################################### -->
                        <!-- Possible search bar -->
                        <form class="form-header" action="" method="POST">
                            <!-- <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." /> -->
                            <!-- <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button> -->
                        </form>


                        <div class="header-button">
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">


                                    <!--                                    <div class="image">-->
                                    <!--                                        <img src="/images/icon/avatar-01.jpg" alt="John Doe" />-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="content">-->
                                    <!--                                        <a class="js-acc-btn" href="#">john doe</a>-->

                                    <!-- ########################################################################### -->
                                    <!-- Logo for the top bar -->
                                    <!--                                    <div class="image">-->
                                    <!--                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />-->
                                    <!--                                    </div>-->

                                    <!-- ########################################################################### -->
                                    <!-- User name -->
                                    <div class="content">
                                        <!--                                        <a class="js-acc-btn">-->
                                        <div sec:authorize="isAuthenticated()">
                                            <div sec:authentication="name"></div>
                                        </div>

                                        <!--                                        </a>-->
                                    </div>

                                    <!-- ########################################################################### -->
                                    <!-- Account dropdown -->
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <!-- ################################################################### -->
                                            <!-- Profile image -->
                                            <!--                                            <div class="image">-->
                                            <!--                                                <a href="#">-->
                                            <!--                                                    <img src="images/icon/avatar-01.jpg" alt="John Doe" />-->
                                            <!--                                                </a>-->
                                            <!--                                            </div>-->

                                            <!--                                            &lt;!&ndash; ################################################################### &ndash;&gt;-->
                                            <!--                                            &lt;!&ndash; Account information for dropdown &ndash;&gt;-->
                                            <!--                                            <div class="content">-->
                                            <!--                                                <h5 class="name">-->
                                            <!--                                                    <a href="#">john doe</a>-->
                                            <!--                                                </h5>-->
                                            <!--                                                <span class="email">johndoe@example.com</span>-->
                                            <!--                                            </div>-->
                                            <!--                                        </div>-->

                                            <!-- ####################################################################### -->
                                            <!-- Account management link -->
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                            </div>

                                            <!-- ####################################################################### -->
                                            <!-- Drop down logout button -->
                                            <div class="account-dropdown__footer">
                                                <a href="/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- ####################################################################################################### -->
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">

                    <!-- ########################################################################################### -->
                    <!-- DATA TABLE -->
                    <div class="m-t-30">
                        <div class="col-md-12">
                            <label>Status:</label>
                            <select  id = "statusFilter" onchange="location = this.options[this.selectedIndex].value;">Status
                                <option id = "Pending">Pending</option>
                                <option id = "Approved">Approved</option>
                                <option id = "Rejected">Rejected</option>
                                <script>var userId = "[[${userId}]]";
                                document.getElementById("Pending").setAttribute("value","/timesheetDashboard/"+userId+"/Pending");
                                document.getElementById("Approved").setAttribute("value","/timesheetDashboard/"+userId+"/Approved");
                                document.getElementById("Rejected").setAttribute("value","/timesheetDashboard/"+userId+"/Rejected");
                                var statusSelecter = document.getElementById("statusFilter");
                                var accessLevel = "[[${accessLevel}]]";
                                console.log(accessLevel);
                                if(accessLevel == "Admin") {
                                    var option;
                                    option = document.createElement("option");
                                    option.setAttribute("value","/timesheetDashboard/"+userId+"/Archived");
                                    option.innerHTML = "Archived";
                                    statusSelecter.appendChild(option);
                                }
                                </script>
                            </select>
                            <script>
                                var statusSelected = "[[${filterTerm}]]"; //get the status from the model-->
                                var statusFilter = document.getElementById("statusFilter"); //get the status drop down-->
                                for (var i=0;i<statusFilter.options.length;i++)
                                    if (statusFilter.options[i].innerHTML == statusSelected) { //if the status is in the options, select that option by default when the page loads-->
                                        statusFilter.selectedIndex = i;
                                    }
                            </script>
                            <!--                            this is to set the value of the select box to what was selected when the user changes pages&ndash;&gt;-->
                            <label>Week ending:</label>
                            <select id="Date Picker" onchange="changeDates()">Date
                                <option>All Dates</option>
                                <script>
                                    var datePicker = document.getElementById("Date Picker");

                                    var today = new Date();
                                    var date = new Date();
                                    var date2 = new Date();
                                    var date3 = new Date();
                                    var date4 = new Date();
                                    var chosenDayOfWeek = 7; // sunday
                                    var difference = today.getDay() - chosenDayOfWeek;
                                    if(difference > 0){
                                        date.setDate(date.getDate() + 6)
                                    }else if(difference < 0){
                                        date.setDate(date.getDate() + ((-1) * difference))
                                    }

                                    var option;
                                    option = document.createElement("option");
                                    option.setAttribute("value", date.getDate()+"/"+(date.getMonth())+"/"+date.getFullYear());
                                    option.innerHTML = date.getDate()+"/"+(date.getMonth()+1)+"/"+date.getFullYear();
                                    datePicker.appendChild(option);

                                    date2 = new Date(date.getFullYear(),(date.getMonth()),date.getDate()-7);

                                    option = document.createElement("option");
                                    option.setAttribute("value", date2.getDate()+"/"+date2.getMonth()+"/"+date2.getFullYear());
                                    option.innerHTML = date2.getDate()+"/"+(date2.getMonth()+1)+"/"+date2.getFullYear();
                                    datePicker.appendChild(option);

                                    date3 = new Date(date2.getFullYear(),date2.getMonth(),date2.getDate()-7);

                                    option = document.createElement("option");
                                    option.setAttribute("value", date3.getDate()+"/"+date3.getMonth()+"/"+date3.getFullYear());
                                    option.innerHTML = date3.getDate()+"/"+(date3.getMonth()+1)+"/"+date3.getFullYear();
                                    datePicker.appendChild(option);

                                    date4 = new Date(date3.getFullYear(),date3.getMonth(),date3.getDate()-7);

                                    option = document.createElement("option");
                                    option.setAttribute("value", date4.getDate()+"/"+date4.getMonth()+"/"+date4.getFullYear());
                                    option.innerHTML = date4.getDate()+"/"+(date4.getMonth()+1)+"/"+date4.getFullYear();
                                    datePicker.appendChild(option);


                                </script>
                            </select>

                            <form action = "/submitChanges">
                                <input id = "submitBox" type="hidden" th:name = "alteredTimeSheets">
                                <button id="submitChanges" onclick="getData()"  type="submit" style="float:right">Submit Changes</button>
                            </form>

                            <!-- ################################################################################### -->
                            <!-- DATA TABLE-->
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3" id = "timeSheetTable">
                                    <thead>

                                    <!-- ########################################################################### -->
                                    <!-- Table headings-->
                                    <tr class="table_header">
                                        <th>Manager</th>
                                        <th>Contractor</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <!-- ############################################################################### -->
                                    <!-- Populate table from database results -->
                                    <script>
                                        var isDirty = false;    //set a flag for whether changes have been made or not

                                        window.onload = function checkChanges() {

                                            window.addEventListener("beforeunload", function decideOnProgression (e) {  //check if changes have been made
                                                if (isDirty == false) {                                                 //if so, stops the user leaving the page without submitting the changes
                                                    return undefined;
                                                }

                                                var confirmationMessage = 'It looks like you have been editing something. '
                                                    + 'If you leave before saving, your changes will be lost.';

                                                e.returnValue = confirmationMessage; //Gecko + IE
                                                return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
                                            });
                                        };

                                        // Attributes
                                        var accessLevel = "[[${accessLevel}]]"; //get the access level of the user from the model for later use

                                        var tempTimeSheetArray = "[[${TimeSheets}]]";

                                        var timeSheetArray = tempTimeSheetArray.split(",");     //split the string of time sheets into an array of timesheets

                                        var timeSheetArray2 = timeSheetArray.toString().split(")"); //split the string of time sheets into an array of timesheets

                                        var table = document.getElementById("timeSheetTable");

                                        var count = 1;                              //using a counter to add 2 rows per entry in the time sheet array so the extra row can be used to show more data when dropped down

                                        var count2 = 0;                             //using this to always get the first entry into the timesheet from the time sheet array which will always be 0, then a multiple of 9

                                        var openRow;        //initialise global variables for later use

                                        var openedRows = [];

                                        // Split the string of time sheets into an array of timesheets
                                        var timeSheetArray = tempTimeSheetArray.split(",");

                                        // Split the string of time sheets into an array of timesheets
                                        var timeSheetArray2 = timeSheetArray.toString().split(")");

                                        // Using a counter to add 2 rows per entry in the time sheet array so the extra row
                                        // can be used to show more data when dropped down
                                        var count = 1;

                                        // Using this to always get the first entry into the timesheet from the
                                        // time sheet array which will always be 0, then a multiple of 9
                                        var count2 = 0;

                                        //----------------------------------------------------------------------------------
                                        // populates table from time sheet data
                                        for(var i=1;i<timeSheetArray2.length;i++){

                                            //split the array of timesheets into its own array (array of arrays)
                                            var data = timeSheetArray2.toString().split(",").toString().split(",");
                                            var toInsert = data.slice(count2,count2+13);

                                            //remove the [TimeSheet from the front of the timesheet ID
                                            var timesheetId = toInsert[0].substring((toInsert[0].indexOf("("))+1);

                                            //add a a new row to the table
                                            var row = table.insertRow(count);
                                            row.id = "row" + count;

                                            //insert the columns into said row
                                            row.insertCell(0);
                                            row.insertCell(1);
                                            row.insertCell(2);
                                            hiddenTimesheetID = row.insertCell(3);

                                            hiddenTimesheetID.style.display = 'none';

                                            //this will need to be changed to get the manager id out of the database
                                            table.rows[count].cells[0].innerHTML = toInsert[11].substring(toInsert[11].indexOf("=")+1) + " " + toInsert[12].substring(toInsert[12].indexOf("=")+1);


                                            //add the data to each of the respective columns
                                            table.rows[count].cells[1].innerHTML = toInsert[9].substring(toInsert[9].indexOf("=")+1) + " " + toInsert[10].substring(toInsert[10].indexOf("=")+1);

                                            //add the data and remove the two ,'s at the end
                                            table.rows[count].cells[2].innerHTML = toInsert[8].substring(8);

                                            table.rows[count].cells[3].innerHTML = timesheetId.substring(timesheetId.indexOf("=")+1);

                                            //increase the counter to put the correct data into the correct cells
                                            count2 += 14;

                                            //add another row to the table to be used later
                                            var spareRow = table.insertRow(count+1);
                                            spareRow.id = "dropDownRow"+count;


                                            var dropDownCell = spareRow.insertCell(0);       //add a cell to the row and give both the row and the cell an ID
                                            dropDownCell.id = "dropDownCell" + count;
                                            dropDownCell.colSpan = 3;

                                            //incrementing the counter by 2 as 2 rows have been added to the table
                                            count+=2;

                                            //------------------------------------------------------------------------------
                                            //add an on click function
                                            document.getElementById(row.id).onclick = function(){

                                                //the function creates a new table
                                                dropDownTable = document.createElement('table');
                                                dropDownTable.id = "dropDownTable";

                                                //add a header
                                                ddHeader = dropDownTable.createTHead();

                                                //adds a row to the header
                                                //add cells to the new row
                                                ddRow = ddHeader.insertRow(0);
                                                ddRow.insertCell(0);
                                                ddRow.insertCell(1);
                                                ddRow.insertCell(2);
                                                ddRow.insertCell(3);
                                                ddRow.insertCell(4);
                                                ddRow.insertCell(5);
                                                ddRow.insertCell(6);

                                                //adds headings into these cells
                                                dropDownTable.rows[0].cells[0].innerHTML = "Number Of Days Worked";
                                                dropDownTable.rows[0].cells[1].innerHTML = "Overtime Worked";
                                                dropDownTable.rows[0].cells[2].innerHTML = "Start Date";
                                                dropDownTable.rows[0].cells[3].innerHTML = "End Date";
                                                dropDownTable.rows[0].cells[4].innerHTML = "Date Submitted";
                                                dropDownTable.rows[0].cells[5].innerHTML = "Notes";
                                                dropDownTable.rows[0].cells[6].innerHTML = "Status";

                                                //adds another row to the table
                                                //add cells to the new row
                                                ddRow2 = dropDownTable.insertRow(1);
                                                ddRow2.insertCell(0);
                                                ddRow2.insertCell(1);
                                                ddRow2.insertCell(2);
                                                ddRow2.insertCell(3);
                                                ddRow2.insertCell(4);
                                                notes_section = ddRow2.insertCell(5);
                                                notes_section.style.width = 150%
                                                ddRow2.insertCell(6);

                                                var clickPosition = this.id;
                                                var id = clickPosition.substring(3); //create the id for data addition and appending the table
                                                var arrayPosition = Math.floor(id / 2) * 14;        // * 10 as there are 10 options in the array for each entry

                                                var select = document.createElement("select");  //create a select drop down
                                                select.setAttribute("id", "select" + id);
                                                select.addEventListener('change',function updateIsDirty(){isDirty = true;})

                                                var option;

                                                if(accessLevel == "Admin"){
                                                    option = document.createElement("option");
                                                    option.setAttribute("value", "Archived");
                                                    option.innerHTML = "Archived";
                                                    select.appendChild(option);
                                                }

                                                option = document.createElement("option");      //and add the status options to it
                                                option.setAttribute("value", "Pending");
                                                option.innerHTML = "Pending";
                                                select.appendChild(option);

                                                option = document.createElement("option");
                                                option.setAttribute("value", "Rejected");
                                                option.innerHTML = "Rejected";
                                                select.appendChild(option);

                                                option = document.createElement("option");
                                                option.setAttribute("value", "Approved");
                                                option.innerHTML = "Approved";
                                                select.appendChild(option);

                                                var statusSelected = "[[${filterTerm}]]";

                                                for (var k=0;k<select.options.length;k++) {
                                                    if(select.options[k].innerHTML == statusSelected) {     //make the correct status be shown by default, getting the filter term as they will only display when it is on the specific filter term page
                                                        select.selectedIndex = k;
                                                    }
                                                }

                                                dropDownTable.rows[1].cells[0].innerHTML = data[arrayPosition + 2].substring(data[arrayPosition + 2].indexOf("=") + 1, data[arrayPosition + 2].length);
                                                dropDownTable.rows[1].cells[1].innerHTML = data[arrayPosition + 3].substring(data[arrayPosition + 3].indexOf("=") + 1, data[arrayPosition + 3].length);   //adds data into the cells
                                                dropDownTable.rows[1].cells[2].innerHTML = data[arrayPosition + 4].substring(data[arrayPosition + 4].indexOf("=") + 1, data[arrayPosition + 4].length);   //and remove specific characters at the start and end of the string
                                                dropDownTable.rows[1].cells[3].innerHTML = data[arrayPosition + 5].substring(data[arrayPosition + 5].indexOf("=") + 1, data[arrayPosition + 5].length);
                                                dropDownTable.rows[1].cells[4].innerHTML = data[arrayPosition + 6].substring(data[arrayPosition + 6].indexOf("=") + 1, data[arrayPosition + 6].length);
                                                dropDownTable.rows[1].cells[5].innerHTML = data[arrayPosition + 7].substring(data[arrayPosition + 7].indexOf("=") + 1, data[arrayPosition + 7].length);
                                                dropDownTable.rows[1].cells[6].appendChild(select);
                                                // data[arrayPosition+8].substring(data[arrayPosition+8].indexOf("=")+1,data[arrayPosition+8].length-2);  //remove an extra , on the pending column

                                                if (document.getElementById("dropDownTable") != null) {
                                                    document.getElementById(openRow).style.display = 'none';    //hide the open row when another is open and add it to a list of opened rows
                                                    openedRows.push(document.getElementById((openRow)));
                                                }

                                                openRow = "dropDownCell" + id;


                                                if (openedRows.length == 0) {
                                                    document.getElementById("dropDownCell" + id).appendChild(dropDownTable);    //open the first row
                                                }

                                                var found = false;
                                                for(var i=0;i<openedRows.length;i++) {
                                                    if (document.getElementById(openRow) == openedRows[i]) {    //if the row being opened has already been opened, show the opened one instead of creating a new child
                                                        document.getElementById(openRow).style.display = '';
                                                        found = true;
                                                    }
                                                }
                                                if(found == false) {
                                                    document.getElementById("dropDownCell" + id).appendChild(dropDownTable);    //appends the new table into the cell we created earlier
                                                }
                                            }
                                        }

                                        var dataArray = [];     //wipe the dataArray on each new page to avoid duplication



                                        function getData() {
                                            isDirty = false;
                                            for(var i=1;(i<(table.rows.length)-1);i+=2){
                                                var Data = document.getElementById("dropDownRow"+i).firstElementChild.innerHTML.split("<td>");
                                                Select = null;                                      //wipe the entry of Select before reassigning it so that duplicates are avoided
                                                Select = document.getElementById("select" + i);
                                                if(Select != null) {                                //only push opened rows to the array as unopened rows are not gonna to have changed
                                                    dataArray.push([table.rows[i].cells[3].innerHTML, Data[13].substring(-4), Select.options[Select.selectedIndex].innerHTML]);
                                                }

                                            }
                                            document.getElementById("submitBox").value = dataArray.toString();  //add the string of the array to a hidden input on a form to pass it into the controller
                                        }


                                        function changeDates() {

                                            count2 = 0;
                                            var table = document.getElementById("timeSheetTable");
                                            for(var j=1;j<table.rows.length;j+=2){
                                                table.rows[j].style.display = '';
                                                table.rows[j+1].style.display = '';
                                            }
                                            var selected = datePicker.options[datePicker.selectedIndex].innerHTML;
                                            var data = timeSheetArray2.toString().split(",").toString().split(",");
                                            var dateEnded;
                                            var selectedDate;
                                            var selectedDateArray = selected.split("/");
                                            console.log(selected);
                                            if (selected != "All Dates") {
                                                for (var i = 1; i < table.rows.length; i+=2) {
                                                    var temp = data[count2 + 5].substring(data[count2 + 5].indexOf("=") + 1).split("-");
                                                    selectedDate = new Date(selectedDateArray[2], selectedDateArray[1] - 1, selectedDateArray[0]);
                                                    dateEnded = new Date(parseInt(temp[0]), parseInt(temp[1]) - 1, parseInt(temp[2]));

                                                    table.rows[i].style.display = 'none';
                                                    table.rows[i+1].style.display = 'none';
                                                    if (dateEnded < selectedDate && dateEnded > new Date(selectedDate.getFullYear(), selectedDate.getMonth(), selectedDate.getDate() - 7)) {
                                                        table.rows[i].style.display = '';
                                                        table.rows[i+1].style.display = '';
                                                    }

                                                    count2 += 13;
                                                }
                                            }
                                        }
                                    </script>
                                    </tbody>
                                </table>

                            </div>
                            <!-- END DATA TABLE-->
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->



    </div>

</div>

<!-- ############################################################################################################### -->
<!-- Jquery JS-->
<script src="/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/vendor/slick/slick.min.js">
</script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/vendor/animsition/animsition.min.js"></script>
<script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="/js/main.js"></script>

</body>

</html>
<!-- end document-->
